optional/gi-retry/auto-cloud-gi-workflow.yaml
  Type: StateMachine
Name: auto-cloud-gi-workflow
SpecVersion: v1
StartAt: Describe
States:
  - Name: Describe
    Type: Task
    Action: ECS:DescribeInstances
    TaskMode: RequestComplete
    Parameters:
      RegionId.$: $Context.RegionId
      InstanceIds.$: toArray($Input.ecsInstanceId)
    OutputConstructor:
      status.$: $Output.Body.Instances.Instance[0].Status
    Next: EnsureStopped
  - Name: EnsureStopped
    Type: Choice
    Branches:
      - Condition: $Input.status == "Stopped"
        Next: StartInstance
    Default: ExitOK
  - Name: ExitOK
    Type: Succeed
    OutputConstructor:
      path: ExitOK
      actionTaken: false
      reason: InstanceNotStopped
      observedStatus.$: $Input.status
    End: true
  - Name: StartInstance
    Type: Task
    Action: ECS:StartInstance
    TaskMode: RequestComplete
    Parameters:
      InstanceId.$: $Input.ecsInstanceId
    Retry:
      - Errors:
          - FnF.ServiceUnavailable
          - FnF.TaskFailed
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 2
    Next: WaitWindow
  - Name: WaitWindow
    Type: Wait
    Seconds.$: $Input.windowSeconds
    Next: StopInstance
  - Name: StopInstance
    Type: Task
    Action: ECS:StopInstance
    TaskMode: RequestComplete
    Parameters:
      InstanceId.$: $Input.ecsInstanceId
      ForceStop: true
    OutputConstructor:
      path: StopInstance
      actionTaken: true
      waitedSeconds.$: $Input.windowSeconds
      finalStatus: Stopped
    End: true
