optional/gi-retry/auto-cloud-gi-workflow.yaml
Type: StateMachine
SpecVersion: v1
Name: auto-cloud-gi-workflow
StartAt: SleepBeforeStart
States:
  - Type: Wait
    Name: SleepBeforeStart
    Seconds: 1200
    Next: StartInstance
  - Type: Task
    Name: StartInstance
    Action: ECS:StartInstance
    TaskMode: RequestComplete
    Parameters:
      RegionId: cn-shanghai
      InstanceId.$: $Input.ecsInstanceId
    Next: SleepInWindow
  - Type: Wait
    Name: SleepInWindow
    Seconds.$: $Context.Execution.Input.windowSeconds
    Next: StopInstance
  - Type: Task
    Name: StopInstance
    Action: ECS:StopInstance
    TaskMode: RequestComplete
    Parameters:
      RegionId: cn-shanghai
      InstanceId.$: $Input.ecsInstanceId
      StoppedMode: StopCharging
    End: true
